.hero-wrapper {
    @include line;
    min-height: calc(100vh);
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
}

.player-wrapper {
    @include line;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transform: scale(1.5);
    @include mobile {
        display: none;
    }
}

.nameLink {
    display: block;
    color: #fff;
    background: url(../../images/d.svg) no-repeat;
    transform: scale(.55);
}

.sectionLinks {
    color: #fff;
    height: 75px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 75px;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    float: left;
    width: auto;
}

.sectionLinks:hover {
    color: #000;
    background-color: #F18F01;
}


/* GO NEXT SECTION */

.go-next-section {
    position: absolute;
    z-index: 3;
    top: 0;
    transform: rotate(90deg);
    left: 45%;
}

.go-next-section a {
    color: #fff;
    text-decoration: none;
}

.go-next-section i {
    display: block;
    font-size: 22px;
    line-height: 18px;
    &::before {
        color: #fff;
    }
}

.go-next-section i:nth-child(1) {
    animation: opacity1 1.2s linear infinite;
}

.go-next-section i:nth-child(2) {
    animation: opacity2 1.2s linear 0.3s infinite;
}

.go-next-section i:nth-child(3) {
    animation: opacity3 1.2s linear 0.6s infinite;
}

.go-next-section i:nth-child(4) {
    animation: opacity4 1.2s linear 0.9s infinite;
}

@keyframes opacity1 {
    50% {
        opacity: 0.2;
    }
}

@keyframes opacity2 {
    50% {
        opacity: 0.2;
    }
}

@keyframes opacity3 {
    50% {
        opacity: 0.2;
    }
}

@keyframes opacity4 {
    50% {
        opacity: 0.2;
    }
}