/* ---------Section title --------------------------------------*/

.section-title {
    @include line;
    float: left;
    width: 100%;
    position: relative;
}

.section-title h2 {
    @include line;
    float: left;
    width: 100%;
    position: relative;
    font-size: 53px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #191919;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    line-height: 48px;
    @include mobile {
        padding: 0 20px;
    }
}

.section-title h3 {
    @include line;
    float: left;
    padding: 14px 30px;
    color: #111;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    font-size: 26px;
}

.section-title h3:before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
}

.st-separator {
    float: left;
    width: 180px;
    height: 2px;
    position: relative;
    margin: 30px 0;
}

.st-separator:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 50px;
    height: 4px;
}

.sect-subtitle {
    position: absolute;
    top: 50%;
    left: 20%;
    opacity: 0.2;
    color: #ccc;
    font-weight: bold;
    text-transform: uppercase;
}

.section-separator {
    float: left;
    height: 2px;
    width: 100%;
    margin: 40px 0;
    position: relative;
}

.section-separator:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 5%;
    width: 90%;
    height: 1px;
    background: #ccc;
    margin-top: -1px;
}

.text-subtitle {
    float: left;
    width: 100%;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #666;
    padding-bottom: 10px;
}

.text-title {
    @include line;
    float: left;
    width: 100%;
    position: relative;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 40px;
    color: #191919;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
    @include mobile {
        letter-spacing: 1px;
    }
}

.small-separator {
    float: left;
    margin-bottom: 30px;
    background: #ccc;
    width: 60px;
    height: 2px;
}