/***********************************************************************************
*	+ BUTTONS
***********************************************************************************/

.btn {
    @include fontSmoothing;
    float: left;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-right: 10px;
    text-align: center;
    width: auto;
    letter-spacing: normal;
    position: relative;
    background-clip: padding-box;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    background: #FF4400;
    outline: none;
    padding: 13px 20px;
    display: inline-block;
}

.btn i {
    padding-right: 10px;
    font-size: 18px;
    background: #414146;
    padding: 14px 20px;
    position: absolute;
    top: 0px;
    left: 0;
    transition: all 200ms linear;
}

.btn.hide-icon span {
    padding: 0 33px;
    transition: all 300ms linear;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.btn.hide-icon i {
    padding: 11px 20px 10px;
    left: -60px;
    height: 100%;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    color: #fff !important;
    top: 0;
}

.btn.hide-icon:hover i {
    left: 0;
    color: #fff;
}

.btn.hide-icon:hover span {
    padding-left: 59px;
    padding-right: 11px;
    color: #fff;
}

.btn:visited {
    color: #000;
}